<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="欧洲，定制旅行，境外游，品质游，精品旅游路线" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="/stylesheets/nav.css" rel="stylesheet" type="text/css">
	<% style.forEach(function(css){ %>
		<link rel="stylesheet" href="<%= css %>" charset="utf-8">
	<% }) %>
	<script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<title>【顿号旅行】DunHao高端定制旅游网站-高品质境外游-精品路线推荐</title>
</head>
<body>
	<div id="navIndex" class="nav_index">
		<nav class="navbar  navbar-fixed-top newbai-nav" role="navigation">
    		<div class="container ">
		        <div class="navbar-header pull-left">
		            <div class="bg-col1-logo">
		                <h2><a href="/index"  >
		                        <img class="index-img"  src="/images/logo.gif" alt="顿号旅行" />
		                </a></h2>
		            </div>
		        </div>
		        <div class="navbar-right-wrap pull-right">
		            <ul class="nav navbar-nav navbar-right" >
		                <li ><a href="/index"   >首页</a></li>
		                <li ><a  href="/hi/planner/members.html" >定制自由行</a></li>
		                <li ><a href="//visa.100guo.cn" >签证办理</a></li>

		                <li  class="linenav"><a href="/tour" class="custom-made">顿号精选</a></li>
		                <li class="nav-ultimateexperience"><a href="/ultimateexperience" >极致体验</a></li>
		                <li class="dropdown">
		                    <a class="dropdown-toggle "  href="/user/index/login" >
			                    <span class="glyphicon glyphicon-user  pull-left"></span> 
			                    <span class="pull-left "> 登陆 </span>
		                    </a>
		                    <ul class="dropdown-menu1 nav-meau clearfix">
		                        <li><a href="/my/profile/profile"  >个人中心</a></li>
		                        <li class="divider"></li>
		                        <li><a href="/cart/cart/index" >购物车</a></li>
			                </ul>
		            	</li>
		            </ul>
		        </div>
		    </div>
		</nav>
	</div>