<% include head.html %>
    <div class="swiper-container" dir="ltr">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src='images/banner1.jpg' width="100%" />
                <div class="every_case">
                    <p class="position_detail" >Beijing/China</p>
                    <a class="position_title">my name is tongshuo</a>
                    <a class="position_button" href="javascript:0" >Details</a>
                </div>
                
            </div>
            <div class="swiper-slide">
                <img src='images/banner2.jpg' width="100%" />
                <div class="every_case">
                    <p class="position_detail" >Beijing/China</p>
                    <a class="position_title">my name is tongshuo</a>
                    <a class="position_button" href="javascript:0" >Details</a>
                </div>
            </div>
            <div class="swiper-slide">
                <img src='images/banner3.jpg' width="100%" />
                <div class="every_case">
                    <p class="position_detail" >Beijing/China</p>
                    <a class="position_title">my name is tongshuo</a>
                    <a class="position_button" href="javascript:0" >Details</a> 
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="advertising" >
        <div class="advertising_detail">
            <p class="advertising_title">Only good design, produced in Empoli (Florence)</p>
            <p class="advertising_little_title">We are specialists in the creation of brand identities, design and advertising for print and web.</p>
        </div>
    </div>
<% include foot.html %>