

.advertising{
	width:1200px;
	margin:0 auto;
	background:#fff;
}

.advertising_detail{
	margin-top:90px;
	margin-bottom:60px;
	background: #EEEEF2;
}
.advertising_title{
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}
.advertising_little_title{
	font-size:16px;
	text-align: center;
}