html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.every_case{
    overflow: hidden;
    width:1200px; 
    margin:0 auto; 
    height:220px; 
    position:absolute; 
    bottom:8%;
}

.position_button {
    position: absolute;
    bottom:10px;
    left:190px;
    opacity: 0;
    padding:5px 10px;
    border:2px solid #fff;
    border-radius:6px;
    color:#fff;
    font-size: 24px;
}
.position_title {
    position: absolute;
    bottom:70px;
    left:190px;
    opacity: 0;
    color:#fff;
    font-size: 46px;

}
.position_detail {
    position: absolute;
    bottom:135px;
    left:190px;
    opacity: 0;
    color:#fff;
    font-size: 20px;
}

.active {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    opacity: 1;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }
}


.position_button.active{
    animation-name: slideInLeft;
}
.position_title.active{
    animation-name: zoomInDown;
}
.position_detail.active{
    animation-name: slideInDown;
}